# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
.env

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Editor backups
*~
*.swp
*.swo
*.tmp
*.bak

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# pipenv
Pipfile.lock

# coverage
htmlcov/
.coverage
.coverage.*

# Jupyter
.ipynb_checkpoints/
