<h1>My Movies</h1>
<div>
    <div> Witaj uzytkowniku </div>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Wyloguj</button>
    </form>
</div>

<p>
    <a href="?status=watched">Obejrzane</a>
    <a href="?status=to_watch">Do obejrzenia</a>
    <a href="{% url 'movie_list' %}">Wszystkie filmy</a>
</p>
<ul>
  {% for movie in movies %}
  <li>
    <a href="{% url 'movie_detail' movie.pk %}">
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.director }} - {{ movie.year }}</p>
    </a>
  </li>
  {% endfor %}
</ul>
