<div>
    <h1>{{ movie.title }}</h1>
    <div>
        <p>Rezyser: {{ movie.director }}</p>
        <p>Wydany: {{ movie.year }}</p>
        <div>
            <h2>Tagi</h2>
            {% for tag in movie.tags.all %}
            <div>{{ tag.name }}</div>
            {% endfor %}
        </div>
    {% if movie.status == "to_watch" %}
        <p>Chcesz go zobaczyc</p>
    {% else %}
        <h2>Obejrzany</h2>
    {% endif %}
    </div>
</div>
<div>
    <form method="post" action="{% url 'movie_edit' movie.pk %}">
        {% csrf_token %}
        <button type="submit">EDYTUJ</button>
    </form>


    <form method="post" action="{% url 'movie_delete' movie.pk %}">
        {% csrf_token %}
        <button type="submit">USUŃ FILM</button>
    </form>
</div>